.logo {
    height: 3.5rem !important; /* !important overrides inline styles */
}
.topbar {
    margin-top: 0 !important;
    padding-bottom: 0 !important;
}
.searchbuttonlong {
    display: none;
}
.searchbutton {
    display: block;
}
.searchcontainer {
    top: 0 !important;
}
.tabsbar {
    display: none;
}
.menu {
    padding-top: 3.5rem !important;
}
.pagecontent {
    padding-top: 0;
}
