.gsc-control-cse {
	padding: 0px;
	border: 0px;
	height: 48px;
	border-radius: 2px;
}

.gsc-control-wrapper-cse {
	border-radius: 2px;
}

.gsib_a {
	padding: 0px;
}

.gsib_b {
	background-color: white;
	float: right;
	height: 48px;
}

.gsc-input-box {
	border:0px;
	box-shadow: none;
	padding: 0;
}

.gsc-input {
	height: 48px !important;
	padding: 0px !important;
	font-family: Roboto !important;
	/* Delete the below boys if you can't get that javascript to work */
	background: none !important;
	text-indent: 0px !important;
}

.gsc-search-box {
}

.gsc-search-button {
	display: none;
}

.gsst_a {
	padding: 0px;
}

.gsst_b {
	padding:0px;
}

.gscb_a {	
        visibility: hidden;
}

.gscb_a.active {
	border-radius: 100%;
	background-color: rgba(255,255,255,0.22);
}

.gscb_a::after {
    visibility: visible;
    content: "close";
    margin: 4px !important;
    color: #000 !important;
    opacity: .54;	
    text-decoration: none;
    padding: 8px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.gsc-results-close-btn {
	display: none !important;
}

.gsc-results-wrapper-overlay {
	width: calc(100% + 48px);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, .14) !important;
	max-width: 50rem;
	position: relative !important;
	left:-48px;
	top: 0px;
	font-family: Roboto;
	padding: 24px 0px 16px 0px;
	max-height: calc(100vh - 100px);
}

.gsc-above-wrapper-area {
	padding: 0px 0px 16px 0px;
}

.gsc-orderby, .gsc-result-info, .gcsc-branding {
	padding: 0px 16px 0px 16px;
}

.gsc-orderby-container {
	padding: 0px;
}

.gsc-selected-option-container {
	background-color: white;
	border: none;
	box-shadow: none;
	font-size: 13px;
	font-weight: 300;
	cursor: pointer;
}

.gsc-selected-option-container:hover {
	background-color: #efefef;
}

.gsc-adBlock {
	padding: 14px 14px 0px;
	margin-bottom: 0px;
}

.gsc-table-result, .gsc-thumbnail-inside {
	padding: 0px;
}

.gsc-url-top {
	padding: 24px 0px 0px 0px;
}

.gs-snippet {
	background-color: white !important;
	border: none !important;	
	font-size: 14px;
	font-family: Roboto;
}

.gsc-modal-background-image {
	display: none !important;
}

.gs-result .gs-title,
.gs-result .gs-title * {
	text-decoration: none !important;
	color: black;
	font-size: 20px !important;
	font-weight: 500;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	padding-top: 24px;
	margin-top: -24px;
	padding-left: 16px;
	margin-left: -16px;
    position: absolute;
    mix-blend-mode: multiply;
    padding-bottom: 116px;
    box-sizing: border-box;
}

.gs-title a:hover {	
	background-color: #e9e9e9;
}

.gs-title b {
	position: initial !important;
}

.gsc-results {
	width: 100%;
}

.gs-result .gs-snippet {
    height: 34px;
    overflow: hidden;
}

.gs-snippet {
    margin-top: 0px !important;
}

.gsc-table-cell-snippet-close {
    height: 34px;
}

.gs-image-box.gs-web-image-box.gs-web-image-box-landscape {
    padding: 0px;
    margin-top: -2px;
}

.gs-image-box.gs-web-image-box.gs-web-image-box-portrait {
    width: auto;
    margin-right: 16px;
    padding: 0;
    height: auto;
}

.gs-image {
    height: 34px;
}

.gsc-webResult .gsc-result {
	border: 0px;
	border-bottom: 1px solid #e9e9e9 !important;
	padding: 24px 16px 16px 16px;
	box-sizing: border-box;
}

.gsc-webResult.gsc-result:hover {
	border: none;
	background-color: none;
}

.gs-visibleUrl {
	line-height: 24px;
	font-size: 14px;
	padding-bottom: 16px !important;
	color: #616161 !important;
}

.aa {
	color: #006621;
	border-color: #006621;
}

.e_ {
	line-height: 24px;
}

.ad {
	padding: 20px 8px 16px 8px;
	border-bottom: 1px solid #e9e9e9 !important;
	font-family: Roboto;
}

.d_ {
	text-decoration: none;
}

input#gsc-i-id1::placeholder {
	font-size: 16px;
}

.gcsc-find-more-on-google {
	display: none;
}

.gcsc-branding {
	padding-top: 16px !important;
}
