body {
    margin: auto;
    font-family: "Roboto";
    background-color: #fafafa;
    background-image: linear-gradient(#fafafa, white);
    background-size: contain;
    background-attachment: fixed;
}
a {
    text-decoration: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.material-icons {
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
}
.logo {
    height: 12rem;
    width: calc(100% - 7rem);
    max-width: 32.25rem;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 50%;
    top: 0;
    position: fixed;
    transform: translateX(-50%);
}
.logo.scrolled {
    height: 3.5rem;
}
.logo img {
    max-height: calc(100% - 3.5rem);
    min-height: 2.5rem;
    width: auto;
    max-width: 100%;
    padding-bottom: .5rem;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;    
    transition: 0.4s;
    box-shadow: 0rem 0.0625rem 0.25rem rgba(0, 0, 0, .14);
}
.navbar.scrolled {
    box-shadow: rgba(0, 0, 0, 0.3) 0 .0625rem .5rem;
}
.topbar {
    width: 100%;
    max-width: 40rem;
    margin: auto;
    margin-top: 12rem;
    height: 3.5rem;
    transition: 0.4s;
}
.topbar.scrolled {
    margin-top: 0;
}
.topbar .material-icons {
    color: black;
    opacity: 0.7;
    transition: 0.4s;            
    border-radius: 100%;
}
.topbar .material-icons:hover {
    opacity: 1;
    cursor: pointer;
}
.topbar .material-icons:active {
    background-color: #e1e1e1;
}
button {    
    font-family: "Roboto";
    background-color: transparent;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
button:focus {
    outline: none;
}
.menubutton {
    display: none;
    float: left;
}
.backbutton {
    float: left;
}
.searchbutton {
    float: right;
    display: none;
}
.searchbutton.scrolled {
    display: block;
}
.searchbuttonlong {
    height: 3rem;
    background-color: white;
    box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, .14);
    width: 39.5rem;
    margin: .25rem;
    padding: 0;
    font-size: 1rem;
    cursor: default;
    animation: searchbar-enter .4s 1;
    animation-timing-function: ease-in;
    transition: .25s;
}
@keyframes searchbar-enter {
    from {opacity: 0;}
    to {opacity: 1;}
}
.searchbuttonlong.scrolled {
    display: none;
}
.searchbuttonlong .material-icons {
    margin: .25rem;
    float: left;
    opacity: .54;
    background-color: white;
}
.searchbuttonlong a {
    height: 3rem;
    float: left;
    line-height: 3rem;
    width: calc(100% - 3rem);
    cursor: text;
    opacity: .54;
    text-align: left;
}    
.tabsbar {
    display: table;
    height: 3rem;
    transition: .25s;
    white-space: nowrap;
    overflow: auto;
    margin: auto;
    font-size: 0; /* This gets rid of the ~4px space between inlines */
    position: relative;
}
.tab {
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0rem 1.25rem 0rem 1.25rem;            
    min-width: 5.625rem;
    height: 3rem;
    line-height: 3rem;
    opacity: 0.7;
    color: #000;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: .25s;
}
.tab:hover {
    opacity: 1;
}
@keyframes tab-click {
    0% {background-color: transparent; border-radius:100%;}
    50% {background-color: #fbe8e7; border-radius:0;}
    100% {background-color: transparent;}
}
.tabstroke {
    width: 5.625rem; /* This will change */
    height: 0.125rem;
    background-color: #db4437;
    transition: .25s;
    position: absolute;
    bottom: 0;
}

/* Menu */
.menu {
    display: block;    
    height: calc(100% + 3.5rem);
    padding: 18.5rem 0;
    width: 16rem;    
    position: fixed;
    top: -.0625rem;
    float: left;
    animation: none;
    z-index: 0;
    background-color: white;
    box-shadow: 0 .0625rem .25rem rgba(0, 0, 0, .14);
    transition: .4s;
}
.menu.scrolled {
    padding-top: 6.5rem;
}
.menutitle {
    display: none;
}
.menulist {
    padding: .5rem 0 .5rem 0;
    border-top: 0.0625rem solid rgba(0, 0, 0, .12);
}
.menu a {
    height: 3rem;
    line-height: 3rem;
    display: block;
    font-size: 0.875rem;
    font-weight: 500;            
    color: black;
    padding-left: .5rem;
}
.menu .material-icons {
    margin: 0 1rem 0 .5rem;
    color: #616161;
    vertical-align: middle;
}
.menu-label {
    font-size: .8125rem;
    font-weight: 500;
    padding: 0 0 .25rem .5rem;
}
.socialicon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    padding: .5rem;
    margin: 0 1rem 0 .5rem;
    vertical-align: middle;
}
.externalicon {
    float: right;
    margin: .25rem !important;
    color: #80868b !important;
}
.menu a:hover {
    background-color: #f5f5f5;
}            
a.menu-selected {
    color: #db4437;
    background-color: #f5f5f5;
}            
.menu-selected .material-icons {
    color: #db4437;
}
@keyframes menu-enter {
    from {left: -20rem;}
    to {left: 0;}
}
.shade {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 3.5rem);
    background-color: rgba(0,0,0,0.4);	
    animation: shade-enter .25s 1;
    animation-timing-function: ease-in-out;
    transition: .25s;
}
.shade.animate {
    opacity: 0;
}
.hidden {
    display: none !important;
}
.menu.hidden {
    display: block !important;
}
@keyframes shade-enter {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Searchbar (note: the Google stuff is stored on searchbar.css) */
.searchcontainer {
    position: fixed;
    z-index: 3;
    box-sizing: border-box;
    padding: .25rem;
    top: 12rem;
    left: 50%;
    transform: translatex(-50%);
    max-width: 40rem;
    width: 100%;
    animation: search-enter .25s 1;
    animation-timing-function: ease-in-out;
    opacity: 1;
    transition: .25s;
}
.searchcontainer.animate {
    opacity: 0;
}
.searchcontainer.scrolled {
    top: 0;
}
@keyframes search-enter {
    from {opacity: 0;}
    to {opacity: 1;}
}
.searchbar {
    height: 3rem;
    background-color: white;
    box-shadow: 0 .0625rem .25rem rgba(0, 0, 0, .14);
    max-width: 39.5rem;
    margin: auto;
}
.exitsearch {
    margin: .25rem;
    opacity: .54;
    float: left;
    cursor: pointer;	
    transition: 0.4s;
}
.exitsearch:active {
    border-radius: 100%;
    background-color: #e1e1e1;
}

/* Page Content */
.pagecontent {
    margin: auto;
    max-width: 50rem;
    padding: .5rem 0 14.5rem 16.5rem;
    overflow: auto;
    transition: .125s;
    animation: content-enter .125s 1;
    animation-timing-function: ease-in-out;
}
.pagecontent.exit {
    margin-top: 56px;
    opacity: 0;
}
@keyframes content-enter {
    from {opacity: 0; margin-top: 3.5rem;}
    to {opacity: 1; margin-top: 0;}
}
.label {
    font-weight: 500;
    margin: 0 1rem; /* To prevent the border-bottom from stretching out in a hyperlink */
    padding-top: 1rem;
    font-size: .75rem;
    line-height: .75rem;
    letter-spacing: .09rem;
    color: #db4437;
    text-transform: uppercase;
}
.title {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 500;
    height: auto;
    padding: 1rem 1rem 0 1rem;
    clear: both;
}
.subtitle {    
    opacity: .7;    
    line-height: 1.5rem;
    padding: 0 1rem;
}
p {
    margin: 0; /* Overrides automatic styles */
    padding: .5rem 1rem;
}
.cardopen {
    font-size: 1rem;
    line-height: 1.75rem;
    width: 100%;   
    height: auto;
    max-width: 50rem;
    position: static;    
    box-shadow: none;
    margin: 0;
    float: left;
    padding-bottom: 1rem;
}
.cardopen:hover {
    transform: none;
    cursor: auto;  
    box-shadow: none;
}
img {
    width: 100%;
    max-height: 28.125rem;
    object-fit: cover;
}
.cardopen a {
    color: #db4437;
    font-weight: 500;
    cursor: pointer;
}
.cardopen a:hover {
    border-bottom: 2px solid #db4437;
    transition: .25s;
}
h1 {    
    font-weight: 500;
    height: auto;
    font-size: 2rem;
    padding: 1rem 1rem .5rem 1rem;
    margin: 0;
}
.credits p {
    font-size: .875rem;
    padding: .5rem 1rem 0 1rem;
}
.credits b {
    font-weight: 500;
}
.youtube {
    padding-bottom: calc(56.25%);
    position: relative;
    overflow: hidden;
}
.youtube iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}
.gallery {
    padding: 1rem 0 0 1rem;
}
.gallery img {
    width: 7.792rem;
    height: 7.792rem;
    margin: 0 .25rem .25rem 0;
    cursor: pointer;
    transition: .4s;
    float: left;
}
.gallery img:hover {
    filter: brightness(70%);
}
.enlarged {
    position: fixed;
    width: calc(100% - 2rem);
    height: calc(100% - 9rem);
    z-index: 2;
    margin: 4.5rem 1rem;
    top: 0;
    left: 0;
    animation: enlarged-enter .25s 1;
    animation-timing-function: ease-in-out;
    transition: .25s;
}
@keyframes enlarged-enter {
    from {opacity: 0;}
    to {opacity: 1;}
}
.enlarged .exit {
    position: fixed;
    z-index: 3;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,.7), transparent);
    cursor: pointer;
    margin: 0;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 100%;
}
.enlarged img {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translatey(-50%);
    z-index: 3;    
    box-shadow: 0 .375rem .875rem rgba(0,0,0,0.3);
}
.card {
    font-size: .875rem;
    text-align: left; /* To override button style */
    margin: 1rem 0 0 1rem;
    padding: 0; /* To override button style */
    width: 23.5rem;
    background-color: white;
    word-wrap: break-word;
    float: left;    
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 .0625rem .25rem rgba(0, 0, 0, .14);
    transition: .1s ease-in;
}        
.card:hover {
    box-shadow: 0 .375rem .875rem rgba(0,0,0,0.3);
    transform: scale(1.02);
    cursor: pointer;
}
.card .label {
    font-size: .625rem;
    line-height: .625rem;
}
.card .title {
    padding-top: .5rem;
}
.feature {
    min-height: 13.25rem;
    width: calc(100% - 2rem);
    background-color: black;
}
.big {
    height: 21rem;
    position: relative;
}
.small {
    height: auto;
    box-sizing: border-box;
}
.feature img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.9), rgba(0,0,0,1));
}
.big img {
    width: 100%;
    height: calc(100% - 7.125rem);
    object-fit: cover;    
    position: absolute;
    left: 0;
    top: 0;
}
.small img {
    width: 8rem;
    height: 8rem;
    padding: 1rem 0 1rem 1rem;
    float: left;
    object-fit: cover;
}
.feature .cardtext {
    position: relative;
    width: 40%;
    min-width: 13.875rem;
    box-sizing: border-box;
    color: white;
}
.big .cardtext {
    position: absolute;
    bottom: 0;
    min-height: 7.125rem;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding-bottom: .5rem;
}
.small .cardtext {
    box-sizing: border-box;
    width: calc(100% - 9rem);
    float: left;
}
.small .label {
    padding-top: 0;
}
.small p {
    display: none;
}

/* Widescreen Mode */
@media only screen and (min-width: 82rem) {
    .pagecontent {
        padding-left: 0;
    }
}

/* Tablet Mode */
@media only screen and (max-width: 66rem) {
    .topbar {
        margin-top: 8rem;
    }
    .menubutton {
        display: block;
    }
    .menu { 
        width: calc(100% - 56px);
        max-width: 20rem;
        padding: 0;
        box-shadow: 0 0.375rem 8.75rem rgba(0,0,0,0.3);
        z-index: 3;
        animation: menu-enter .25s 1;
        animation-timing-function: ease-in-out;
        top: 0;
        left: 0;
        transition: .25s;
    }
    .menu.scrolled {
        padding-top: 0;
    }
    .menu.animate {
        left: -20rem;
    }    
    .menu.hidden {
        display: none !important;
    }
    .menutitle {
        display: block;
    }            
    .menu a {
        padding-left: 0;
    }
    .menu-label {
        padding-left: 0;
    }
    .searchbutton {
        display: block;
    }
    .searchbuttonlong {
        display: none;
    }
    .searchcontainer {
        top: 8rem;
    }
    .searchcontainer.animate {
        opacity: 0;
    }
    .pagecontent {
        padding: 0;
    }
}

/* Mobile Mode */
@media only screen and (max-width: 50rem) {
    .card {
        width: 100%;
        max-width: 800px;
        margin: 1rem 0 0 0;
    }
    .gallery {
        padding: 1rem .75rem 0 1rem;
    }
    .gallery img {
        width: calc((100vw - 2.5rem) / 3);
        height: calc((100vw - 2.5rem) / 3);
    }
    .enlarged {
        width: 100%;
        height: calc(100% - 7rem);
        margin: 3.5rem 0;
    }
}
